/* Form Validate */
.form-group {
  position: relative;
  font-family: "Lato", sans-serif;

  label.tag-legenda {
    color: #ffffff;
  }

  .form-control {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

  .botao-vermelho {
    font-size: 17px;
    font-weight: 900;
    background: #ed2129;
    color: #ffffff;
    border-radius: 9px;
    padding: 15px 25px;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px rgba(#000000, 0.3);
  }
  .botao-vermelho:hover {
    background: rgba(#ed2129, 0.9);
    transition: 0.7s;
  }
}

.form-group:last-child {
  text-align: right;
}

.form-group label.error {
  position: absolute;
  top: 35px;
  right: 25px;
  width: auto;
  font-size: 11px;
  color: #ffffff;
  text-align: right;
}

/* Form AjaxForm */
.ajaxForm .ajaxForm-alert {
  padding: 10px;
  margin-top: 14px;
  color: #fff;
  background-color: #f57f17;
  border-left: 3px solid #bc5100;
}

.ajaxForm .ajaxForm-alert.ajaxForm-alert--error {
  background-color: #c62828;
  border-left-color: #8e0000;
}

.ajaxForm .ajaxForm-alert.ajaxForm-alert--sucess {
  background-color: #2e7d32;
  border-left-color: #005005;
}
